[[source]]

url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.1.1"
django-pagedown = "*"
django-extensions = "*"
django-environ = "*"
martor = "*"


[dev-packages]

pymysql = "*"
martor = "*"


[requires]

python_version = "3.6"
