{% extends 'base/base.html' %}
{% load martortags %}

{% block container %}
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui divided items">
                {% for post in blog_posts %}
                <div class="item">
                    <div class="image">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528541137822&di=4ae3ba7f64ed6850d04bf7f8d74f0e84&imgtype=0&src=http%3A%2F%2Fpic.5442.com%3A82%2F2014%2F0812%2F08%2F02.jpg%2521720.jpg">
                    </div>
                    <div class="content">
                        <a class="header">{{ post.title }}</a>
                        <div class="meta">
                            <span class="cinema">{{ post.updated_at }}</span>
                        </div>
                        <div class="description">
                            <p>{{ post.content|truncatewords:'50' }}</p>
                        </div>
                        <div class="extra">
                            <div class="ui label">IMAX</div>
                            <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                            <div class="ui right floated primary button">Buy tickets <i class="right chevron icon"></i> </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="item">
                    <div class="image">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528541137822&di=4ae3ba7f64ed6850d04bf7f8d74f0e84&imgtype=0&src=http%3A%2F%2Fpic.5442.com%3A82%2F2014%2F0812%2F08%2F02.jpg%2521720.jpg">
                    </div>
                    <div class="content">
                        <a class="header">12 Years a Slave</a>
                        <div class="meta">
                            <span class="cinema">Union Square 14</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repellendus iure praesentium
                                accusantium consectetur dolores eaque aliquid fugit, cumque doloribus, nemo optio. Ullam eveniet
                                adipisci nam eos aut, facilis</p>
                        </div>
                        <div class="extra">
                            <div class="ui label">IMAX</div>
                            <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                            <div class="ui right floated primary button">Buy tickets <i class="right chevron icon"></i> </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528541137822&di=4ae3ba7f64ed6850d04bf7f8d74f0e84&imgtype=0&src=http%3A%2F%2Fpic.5442.com%3A82%2F2014%2F0812%2F08%2F02.jpg%2521720.jpg">
                    </div>
                    <div class="content">
                        <a class="header">12 Years a Slave</a>
                        <div class="meta">
                            <span class="cinema">Union Square 14</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repellendus iure praesentium
                                accusantium consectetur dolores eaque aliquid fugit, cumque doloribus, nemo optio. Ullam eveniet
                                adipisci nam eos aut, facilis</p>
                        </div>
                        <div class="extra">
                            <div class="ui label">IMAX</div>
                            <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                            <div class="ui right floated primary button">Buy tickets <i class="right chevron icon"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">Products</div>
                    <div class="menu">
                        <a class="item">Enterprise</a>
                        <a class="item">消费者</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">CMS Solutions</div>
                    <div class="menu">
                        <a class="item">Rails</a>
                        <a class="item">Python</a>
                        <a class="item">PHP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}